@using Microsoft.AspNet.Identity
@{
ViewBag.Title = "Contact";
Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Let's Be The Change</title>
        <meta content="" name="description">
        <meta content="" name="author">
        <!-- Mobile Specific Metas
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" name="viewport" />
        <link href="~/Content/skeleton.css" rel="stylesheet" />
        <link href="~/Content/normalize.css" rel="stylesheet" />
        
        <link href="~/Content/Images/Logoo.png" rel="icon" type="image/png">
        <!-- Scripts -->
        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="~/Scripts/script.js"></script>
        <!-- font -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="~/Content/semantic.css" rel="stylesheet" />
        <link href="~/Content/style.css" rel="stylesheet" />
        <style type="text/css">
        body
        {
        background-color: #101010;
        }
        #rassm{
        padding-top: 15px !important;
        font-size: 1.3em !important;
        letter-spacing: 1px;
        font-family: 'Raleway', sans-serif;
        }
        h1{
        color: white;
        font-size: 35px;
        font-family: sans-serif;
        }
        p, .li{
        color: white;
        font-size: 21px;
        font-family: Raleway;
        text-align: justify;
        }
        .but{
         color: white;
        }
        .black-text{
        color: #ccc !important;
        }
            .details{
                margin-top: 20px;
            }
            #heading{
                text-align: center;
                margin-top: 120px;

            }
            @@media screen and (min-width: 310px) and (max-width: 459px){
                .embed-responsive-item{
                   width: 250px;
                }
            }
            @@media screen and (min-width: 460px) and (max-width: 569px){
                .embed-responsive-item{
                   width: 310px;
                }
            }
            @@media screen and (min-width: 570px) and (max-width: 669px){
                .embed-responsive-item{
                    width: 380px;
                }
            }
            @@media screen and (min-width: 670px) and (max-width: 724px)
            {
                .embed-responsive-item{
                width: 450px;
                }
            }
            @@media screen and (min-width: 725px) and (max-width: 991px)
            {
                .embed-responsive-item{
                    width: 500px;
                }
            }
            @@media screen and  (min-width: 992px) and (max-width: 1200px){
                    .embed-responsive-item{
                        width: 630px;
                    }
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- logo -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" onclick='$("#mainNavBar").toggleClass("collapse")' data-target="#mainNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand"><span class="lbtc-logo"><img src="~/Content/Images/logoo.png" alt="lbtc logo"></span></a>
                </div>
                <!--Menu Items -->
                <div class="collapse navbar-collapse" id="mainNavBar" style="overflow-x:hidden !important;">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- normal menu items -->
                        <li><a class="" href="Index">Home</a></li>
                        <li><a href="/Home/Gallery">Gallery</a></li>
                        <li><a href="/Home/About">About</a></li>
                        <li><a href="/Home/ContactUs" class="active">Contact Us</a></li>
                        <li><a href="https://docs.google.com/forms/d/15-tjJXfBaDbWk0rmbdkApqbhYhguC_ou7w9o9iFUYUQ/viewform?usp=send_form">Join Us</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                        <li><a href="/Admin/GetDonations">View Donate</a></li>
                        <li><a href="/Admin/ViewUsers">View Users</a></li>
                        }
                        else
                        {
                        <li><a href="/Donate/EnterAmount">Donate</a></li>
                        }
                        @if (Request.IsAuthenticated)
                        {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                        }
                        }
                        else
                        {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Log in/Register", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-8 col-md-offset-3 col-xs-offset-2" id="heading">
                    <h1>Contact Us</h1>
                </div>
            </div>
            <div class="details">
                <div class="row">
                    <div class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Name">
                            </div><br /><br />
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                            </div><br /><br />
                            <div class="form-group">
                                <input type="text" class="form-control" id="phone" placeholder="Phone">
                            </div><br /><br />
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Message" rows="4"></textarea>
                            </div><br /><br />
                            <div class="form-group">
                                <button type="button" class="btn btn-secondary but" onclick="#">Send Message</button>
                            </div><br /><br />
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-xs-offset-2">
                        <iframe class="embed-responsive-item" width="825" height="280" frameborder="0" style="border:0; margin-bottom:10px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCrq40gJI06WA3RDhmE4mep1Y3kLMCblxM &q=Let's+Be+The+Change,+1062,+25th+Main+Rd,+Siddanna+Layout,+Banashankari+Stage+II,+Banashankari,+Bengaluru,+Karnataka+560070,+India" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 footer-icon">
                    <a href="#"><img src="~/Content/Images/Icons/Contact-phone.svg" alt="phone"></a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 footer-icon">
                    <a href="#"><img src="~/Content/Images/Icons/Contact-email.svg" alt="email"></a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 footer-icon">
                    <a href="https://www.facebook.com/LBTCIndia/"><img src="~/Content/Images/Icons/Contact-facebook.svg" alt="facebook"></a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 footer-icon">
                    <a href="https://www.instagram.com/lbtcindia/"><img src="~/Content/Images/Icons/Contact-instagram.svg" alt="instagram"></a>
                </div>
            </div>
            <div class="row">
                <a href="https://www.facebook.com/The-Rassm-676196475915110/?notif_t=page_fan&notif_id=1497624182452932"><h3 id="rassm">Powered By Team RaSSm</h3></a>
            </div>
        </footer>
    </body>
</html>